{% extends 'base.html'%}

{% block content %}
<div class="container logo text-center mb-5">
    <h1 class="text-center" style="color: white; margin-top: 100px;">Welcome To Techwise <span class="auto-type text-info"></span> </h1> 
</div> 

<div class="subscribe ">
                
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST" >
                    <div class="md-form form-group d-flex flex-row align-content-center">
                        <label class="text-light mt-1 fs-5 ms-auto"> Subscribe to Techwise for more...</label>
                                    <input type="email" class="align-items-center" style="width: 40%;" name ="subscriber" placeholder="Enter your email..." required>
                                    <button class="btn btn-md btn-info mx-2" id="subs">Subscribe</button>
                                </div> 
                            </form>
                        </div>
                        <div class="col-md-2"></div> 
                        </div>
                    
                    </div>

                </div>



        <div class="row">
            <div class="col-md-8 ">
                {% for user in user_details %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card d-flex flex-row" style="padding: 5%; background-color: #918378; color: black; opacity: 0.8; position: relative; left: 30%;">
                                    <div class="card-image d-flex flex-column" style="margin-right: 50px;">
                                        <img class=" user-img mr-10" class="card-img" src="{{ url_for('static', filename='img/' + user.user.profile_pic_path) }}"height="250" width="250">
                                        <a href="{{url_for('main.user_posts',username = user.user.username)}}" style="text-decoration: none; margin-top: 15px"><span  style=" font-size: large; color: black;"><strong> Name: {{user.user.username | title}}</strong></span> </a> 
                                    </div> 
                                    <div class="card-title" style="text-align: center;">
                                        <div class="user-skills">
                                            <h4><a href="{{url_for('main.user_posts',username = user.username)}}"  class="card-title" style="color: black;; font-weight: bold; text-decoration: none;">{{user.skills_title | upper}}</a></h4>
                                        </div>
                                        <div class="details">  
                                            <p class="card-content">{{user.name}}</p>
                                            <p class="card-content">{{user.description}}</p>
                                            <p class="card-content"><span style="font-weight: bold;">Charges</span>: {{user.charges}}</p>
                                            <p class="card-content"><span style="font-weight: bold;">Contact</span>: {{user.contact}}</p>
                                            <p class="card-footer" style="color: black;;">Posted on : {{user.posted.strftime('%d-%m-%Y')}}</p>
                                            <p style="color: black;"> <a class="btn btn-sm btn-info" href="{{url_for('main.user_details',id = user.id)}}"> Comment</a> {{user.comment.count()}} Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}

                
            </div>
        </div>
    </div>

{% endblock %}
