{% extends 'base.html'%}

{% block content %}
    <div class="container landing">
        <div class="row ">
            <div class="col-md-9 " style="text-align: center;"><h1>Welcome To Techwise Website Where The Right Tutor Is A Click Away </h1></div>
        </div>

        <div class="row">
            <div class="col-md-8 ">
                {% for user_detail in user_details %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="padding: 5%;background-color: transparent;">
                                    <div class="card-image">
                                        <img class=" user_details-img mr-10" class="card-img" src="{{ url_for('static', filename='img/' + user_details.user.profile_pic_path) }}"height="250" width="250">
                                        <a href="{{url_for('main.user_posts',username = user_details.user.username)}}"><span  style=" font-size: large;"><strong> {{ user_details.user.username | title}}</strong></span> </a>
                                    </div>
                                    <div class="card-title" style="text-align: center;">

                                        <h4><a href="{{url_for('main.user_posts',id = user_details.id)}}"  class="card-title">{{user_details.skills_title | upper}}</a></h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-content">{{user_details.name}}</p>
                                        <p class="card-content">{{user_details.description}}</p>
                                        <p class="card-content">{{user_details.charges}}</p>
                                        <p class="card-content">{{user_details.contact}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-footer">Posted on : {{user_details.posted.strftime('%d-%m-%Y')}}</p>
                                        <p> <a class="btn btn-sm btn-info" href="{{url_for('main.user_details',id = user_details.id)}}" > Comment</a> {{user_details.comment.count()}} Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                       
                {% endfor %}

                {% for page_num in user_details.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current = 2) %}
                    {% if page_num %}
                        {% if user_details.page == page_num %}
                            <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-info mb-2">{{ page_num }}</a>
                        {% else%}
                        <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-outline-info mb-2">{{ page_num }}</a>
                        {% endif %}
                    {% else%}
                        ...
                    {% endif %}
                {% endfor %}  

            </div>
            <div class="col-md-4">
                
                <div class="container-fluid">
                    
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST" >
                        <div class="md-form form-group">
                            <label class="white-color"></label>
                            <input type="email"  class="form-control " name ="subscriber" placeholder="enter your email..." required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-md btn-info" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
