{% extends 'base.html'%}

{% block content %}
    <div class="container landing">
        <div class="row ">
            <div class="col-md-9 " style="text-align: center; margin-top: 20px;"><h2>Welcome To Techwise Website Where The Right Tutor Is A Click Away </h2></div> 
        </div>

        <div class="row">
            <div class="col-md-8 ">
                {% for user in user_details %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="padding: 5%;background-color: transparent;">
                                    <div class="card-image">
                                        <img class=" user-img mr-10" class="card-img" src="{{ url_for('static', filename='img/' + user.user.profile_pic_path) }}"height="250" width="250">
                                        <a href="{{url_for('main.user_posts',username = user.user.username)}}"><span  style=" font-size: large;"><strong> {{ user.user.username | title}}</strong></span> </a>
                                    </div>
                                    <div class="card-title" style="text-align: center;">

                                        <h4><a href="{{url_for('main.user_posts',username = user.username)}}"  class="card-title">{{user.skills_title | upper}}</a></h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-content">{{user.name}}</p>
                                        <p class="card-content">{{user.description}}</p>
                                        <p class="card-content">{{user.charges}}</p>
                                        <p class="card-content">{{user.contact}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-footer">Posted on : {{user.posted.strftime('%d-%m-%Y')}}</p>
                                        <p> <a class="btn btn-sm btn-info" href="{{url_for('main.user_details',id = user.id)}}" > Comment</a> {{user.comment.count()}} Comments</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}

                
            </div>
            <div class="col-md-4">
                
                <div class="container-fluid">
                    
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST" >
                        <div class="md-form form-group">
                            <label class="white-color"></label>
                            <input type="email"  class="form-control " name ="subscriber" placeholder="enter your email..." required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-md btn-info" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
